prna
pyseqrna/__pycache__
pyseqrna/DS_Store
pyseqrna/example
pySeqRNA_results*
analysis_report.html

.DS_Store
.pyseqrna
.venv
mtry.ipynb
build
pySeqRNA.egg-info
.Rprofile
pyseqrna.log
test2.ipynb
test.ipynb
pyseqrna.log
deg.png
dist
meta.yaml
build.sh
bld.bat

